In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Challenge 3").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/02 12:53:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
df_clients = spark.read.format("CSV").option("header", True).load("../resources/clientes_reducido.csv")

In [7]:
df_clients.printSchema()
df_clients.show(1)
df_clients.count()

root
 |-- customer_id: string (nullable = true)
 |-- nombre: string (nullable = true)
 |-- país: string (nullable = true)
 |-- edad: string (nullable = true)
 |-- género: string (nullable = true)

+-----------+------+----+----+------+
|customer_id|nombre|país|edad|género|
+-----------+------+----+----+------+
|   bdd640fb|Joshua|  GR|  56|     F|
+-----------+------+----+----+------+
only showing top 1 row

1000

In [9]:
df_transacctions = spark.read.format("JSON").load("../resources/transacciones_reducido.json")

In [11]:
df_transacctions.printSchema()
df_transacctions.show(1)
df_transacctions.count()

root
 |-- amount: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- transaction_id: string (nullable = true)

+-------+--------+-----------+----------+-------------------+--------------+
| amount|currency|customer_id|product_id|          timestamp|transaction_id|
+-------+--------+-----------+----------+-------------------+--------------+
|1487.45|     COP|   86879aa9|  5e244824|2024-09-23T17:45:15|      a23ff67d|
+-------+--------+-----------+----------+-------------------+--------------+
only showing top 1 row

10000